<!-- <p>employee-list works!</p> -->

<div>
    <div class="ui-g">
        <div class="ui-g-1" style="width: 5%; margin-top: 0.5%;">
            Status
        </div>
        <div class="ui-g-5" style="margin-left: 3%;">
            <div>
                <p-dropdown [options]="status" [style]="{'width': '80%'}" [(ngModel)]="employee.status"></p-dropdown>
            </div>
        </div>

        <div class="ui-g-1" style="width: 5%; margin-top: 0.5%; margin-left: -3%;">
            Designation
        </div>
        <div class="ui-g-5" style="margin-left: 6%;">
            <p-dropdown [options]="designations" [style]="{'width': '80%'}" [(ngModel)]="employee.designation.id"></p-dropdown>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-1" style="width: 5%; margin-top: 0.5%;">
            Department
        </div>
        <div class="ui-g-5" style="margin-left: 3%;">
            <p-dropdown [options]="departments" [style]="{'width': '80%'}" [(ngModel)]="employee.department.id"></p-dropdown>
        </div>

        <div class="ui-g-1" style="width: 11%; margin-top: 0.5%; margin-left: -3%;">
            Date of Joining
        </div>
        <div class="ui-g-5">
            <input type="date" [style]="{'width': '80%'}" [(ngModel)]="employee.dateOfJoining">
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4">
            
        </div>
        <div class="ui-g-4" style="margin-left: 5%;">
            <button pButton type="button" label="Search" class="ui-button-success" (click)="filterResult()"></button>
            <button pButton type="button" label="Reset" class="ui-button-success" style="margin-left: 2%;" (click)="reset()"></button>
        </div>
        <div class="ui-g-4">
            
        </div>
    </div>
</div>

<p></p><p></p>

<div>
    <p-button label="Add Employee" (click)="addEmployee()" ></p-button>
</div>

<p></p>

<p-table #tt [value]="employees" [columns]="columns" [paginator]="true" 
    [rows]="4" sortField="brand" [loading]="loading" [rowsPerPageOptions]="[5, 10, 25, 100]"
    (onLazyLoad)="loadLazyEmployeeTableData($event)" [totalRecords]="totalRecords">
<!-- [lazy]="true" -->
    <ng-template pTemplate="caption">
        All Employee
        <!-- <ng-template pTemplate="caption"> -->
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <!-- <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto"> -->
        <input type="text" pInputText size="50" placeholder="Search" (input)="search($event.target.value)" style="width:auto">
        <!-- </ng-template> -->
    </ng-template>
    <ng-template pTemplate="header" let-cols>
        <tr>
            <th>#</th>
            <th  *ngFor="let column of cols" [pSortableColumn]="column.field">
                {{column.header}}
                <p-sortIcon [field]="column.field"></p-sortIcon>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp let-i="rowIndex">
        <tr style="text-align: center;">
            <td>{{i+1}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.department.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.address.address}}, {{emp.address.city}}</td>
            <td>{{emp.dateOfJoining}}</td>
            <td>
                <a style="padding-right: 3%;" (click)="editEmployee(emp.id)"><i class="pi pi-pencil"></i></a>
                <a (click)="deleteEmployee(emp.id)"><i class="pi pi-trash"></i></a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr *ngIf="!loading" style="text-align: center;">
            <td colspan="5">
                No Data
            </td>
        </tr>
        <tr *ngIf="loading" style="text-align: center;">
            <td colspan="5">
                Loading
            </td>
        </tr>
    </ng-template> 
    <!-- <ng-template pTemplate="footer">
        <tr>
            <td colspan="3">Totals</td>
            <td></td>
            <td></td>
        </tr>
    </ng-template> -->
    <ng-template pTemplate="summary">
        There are total {{totalRecords}} records
    </ng-template>
</p-table>
